<% if notice %>
  <p><%= notice %></p>
<% end %>

<% cart.line_items.each do |line_item| %>
  <p><%= link_to line_item.item.title, item_path(line_item.item) %> | <%= "$#{line_item.item.price.to_f/100}" %> | Quantity: <%= line_item.quantity %> | <% if line_item.item.inventory < 5 %>
    <strong>There are only <%= line_item.item.inventory %> left in stock.</strong>
  <% end %> </p>
<% end %>

<p>Order total: <strong><%= "$#{cart.total.to_f/100}" %></strong> </p>

<% if !session[:checkout] %>
  <%= button_to 'Checkout', checkout_path %><br>
  <%= button_to 'Continue Shopping', session_path(current_user) %>
<% else %>
  <h4>You have Checked Out</h4>
  <% session[:checkout] = nil %>
  <%= button_to 'Continue Shopping', session_path(current_user) %><br>
  <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
<% end %>