<nav class="">
  <% if current_user %>
    <ul>
        <li>Signed in as <%= "#{current_user.email}" %></li>
        <li><%= link_to "Store Home", store_path %></li>
        <% if !!@cart %>
          <li><%= link_to "Cart", cart_path(current_cart) %></li>
        <% end %>
        <li><%= link_to "Sign Out", logout_path, :method => "delete" %></li>
    </ul>
  <% else %>
    <ul>
        <li><%= link_to "Store Home", store_path %></li>
        <li><%= link_to "Sign In", "/signin" %></a></li>
        <li><%= link_to "Sign Up", "/signup" %></a></li>
    </ul>
  <% end %>
</nav>
